.weather {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 20px;
    background-color: #131311;
  }
  
  .weather h2 {
    color: #fff;
  }
  
  .weather h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;

  }
  .weather form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .weather input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
  }
.weather span{
    color: yellow;
}
